*{
    margin:0px;
    padding:0px;
}
body{
    font-family: "Microsoft Yahei", "Simsun", Arial;
    margin:0px;
    padding:0px;

}
.container{
    margin:0 0;/*-----------------------------------修改div放置位置------------------------------------------*/
    width:1200px;
    margin: auto;
    height:500px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 5px;
    border-radius:10px;
    top:70px;

}
.list{
    width:8400px;
    height:500px;
    position: absolute;
    top:0px;
}
img{
    float:left;
    width:1200px;
    height:500px;
}
.dots{
    position: absolute;
    left:40%;
    bottom:30px;
    list-style: none;
}
.dots li{
    float:left;
    width:8px;
    height:8px;
    border-radius: 50%;
    background: gray;
    margin-left:5px
}
.dots .active{
    background: white;
}
.pre,.next{
    position: absolute;
    top:43%;
    font-size:40px;
    color:white;
    text-align:center;
    border-radius: 4px;
    background: rgba(7,17,27,0);
    /* display:none;*/
}
.pre:hover,.next:hover{
    position: absolute;
    top:43%;
    font-size:40px;
    color:white;
    text-align:center;
    border-radius: 4px;
    background: rgba(7,17,27,0.6);
    /* display:none;*/
}
.pre{
    left:193px;
}
.next{
    right:20px;
}
.pre_90{
    -webkit-transform: rotate(90deg);
    width:30px;
    height: 40px;
}
.next_90{
    -webkit-transform: rotate(-90deg);
    width:30px;
    height: 40px;
}
.Header{
    position: absolute;
    width:100%;
    height: 60px;
    background:#fff;
}
.Header ul{
    position: relative;

}
.Header ul li{

    width:100px;
    height:60px;
    display: inline-block;
    list-style-type: none;
    font-family: "微软雅黑", "宋体";
    text-align:center;
    font-size:16px;
    line-height: 60px;
}
.Header a{
    text-decoration: none;
    color:#7e8c8d;
}
.Header a:hover{
    color:#000000;
}
form.search {
    position:absolute;
    width:150px;
    top:20px;
    right:20px;
}

.search input {
    float:right;
    width:70px;
    padding:2px 0px 3px 5px;
    border-radius:5px;
    font-family:"Source Sans Pro", helvetica, sans-serif;
    font-weight: 400;
    font-size:1em;
    color:#888;
    outline:none;
    -webkit-transition:2s width;
}

.search input:focus {width:150px;}
.search label {display:none;}
form.search input {background-color:#fff;}
form.search input::-webkit-input-placeholder {color:#ccc;}
.aside-allCategory{
    background:rgba(43,51,59,0.9);
    width:173px;
    height:500px;
    position: absolute;
    top:0px;
    border-radius:10px 0px 0px 10px;
}
.aside-allCategory ul{
    position: relative;
    top:20px;
}
.aside-allCategory ul li{
    color:rgba(255,255,255,.6);
    width:173px;
    height:40px;
    list-style-type: none;
    font-size:16px;
    text-align: center;
    line-height: 40px;
}
.aside-allCategory ul li:hover{
    color:#fff;
    background:rgba(255,255,255,0.3);
}
.transform-90{
    -webkit-transform: rotate(-90deg);
    width:15px;
    height: 15px;
    float:right;
    position: relative;
    right:15px;
    top:12.5px;

}

.pop{
    display: none;
    position: absolute;
    top:-21px;
    left:173px;
    height:500px;
    width:400px;
    color:black;
    background: #f7f7f7;
}
.pop ul li{
    display:inline-block;
    width:80px;

}
.pop strong{
    float:left;
    position:relative;
    left:10px;
    top:10px;
    font-size:15px;
}
.pop hr{
    position: relative;
    top:30px;
    left:15px;
    width:340px;
}
.pop ul li:hover{
    background:#f7f7f7;
}
.pop ul li a{
    font-size:14px;
    color:#666666;
    text-decoration: none;

}
.pop ul  li a:hover{
    color:#ff6600;
}
.my_list_image01{
    display:inline-block;
    border-radius:5px 5px 0px 0px;
    width:300px;
    height: 220px;
    position: relative;
    top:-40px;
    overflow: hidden;
}
.my_list_image{
    text-align:center;
    left:0px;
    width:100%;
    height:240px;
}
.my_list_image span{
   margin:50px;
    box-shadow: 0 8px 50px 0 rgba(7,17,27,.1);
}
.my_list_image01 img{
    width:300px;
    height:180px;

}
.my_list_image01 a:hover img{
    transform:scale(1.3,1.3);transition:all 0.2s linear 0s;
}
.List_image{
    position: relative;
    top:0px;
    width:100%;
    height:300px;
    background:#f7f7f7;
}
.List_image div{
    display:inline-block;
}
.types-title{
    position: relative;
    top:0px;
    font-size: 20px;
    color: #4D555D;
    letter-spacing: 3px;
    line-height: 36px;
    text-align: center;
}
.types-title div{
    position: relative;
    top:12px;
    display: inline-block;
    width:36px;
    height: 36px;

}
.image-explain1{
    width:300px;
    height:40px;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    line-height: 20px;
    position:relative;
    border-radius: 0px 0px 5px 5px;
    text-align:center;

    background: #ffffff;
}
.image-explain1 img,.image-explain2 img, .image-explain3 img{
    width:20px;
    height: 20px;
    float:right;
}
.image-explain1 div,.image-explain2 div,.image-explain3 div{
    display:inline-block;
}
.image-explain2{
    width:300px;
    height:40px;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    line-height: 20px;
    position:relative;
    border-top:0px;
    border-radius: 0px 0px 5px 5px;
    text-align:center;

    background: #ffffff;
}
.image-explain3{
    width:300px;
    height:40px;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    line-height: 20px;
    position:relative;
    border-top:0px;
    border-radius: 0px 0px 5px 5px;
    text-align:center;
    background: #ffffff;
}
.clear{
    clear: both;
}
.Yard{
    width:100%;
    height:500px;
    position:relative;
    top:0px;
    text-align: center;
    background: #f7f7f7;
    font-size: 18px;
    color: #4D555D;
    letter-spacing: 3px;
    line-height: 36px;
}
.Yard div{
    display:inline-block;
    position: relative;
    border-radius: 10px;
    text-align: center;
}
.Yard div h3{
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 2px;
    line-height: 28px;
    text-shadow: 0 2px 2px rgba(7,17,27,.4);
}
.Yard h3{
    text-align: center;
    width:100%;
    height:20px;
}
.Yard h3 div{
    display: inline-block;
    width:36px;
    height: 36px;
    position: relative;
    top:12px;
}
.Card-1{
    margin-right:10px;
    position: relative;
    width:216px;
    height: 252px;
    background: #fff;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    top:60px;
}
.Card-2{
    margin-right:10px;
    position: relative;
    width:216px;
    height: 252px;
    background: #fff;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    top:60px;
}
.Card-3{
    margin-right:10px;
    position: relative;
    width:216px;
    height: 252px;
    background: #fff;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    top:60px;
}
.Card-4{
    margin-right:10px;
    position: relative;
    width:216px;
    height: 252px;
    background: #fff;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    top:60px;
}
.Card-5{
    margin-right:10px;
    position: relative;
    width:216px;
    height: 252px;
    background: #fff;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    top:60px;
}
.img-up {
    position: absolute;
    left: 0;
    top: 0;
    width: 216px;
    height: 120px;
    z-index: 3;
    border-radius: 10px;
    -webkit-transition: all .3s;
}
.img-mid{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 208px;
    height: 120px;
    opacity: .4;
    z-index: 2;
    border-radius: 10px;
    -webkit-transition: all .3s;
}
.img-down{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 200px;
    height: 120px;
    opacity: .2;
    z-index: 1;
    border-radius: 10px;
    -webkit-transition: all .3s;
}
.Card-1:hover .img-up,.Card-2:hover .img-up,.Card-3:hover .img-up,.Card-4:hover .img-up,.Card-5:hover .img-up{
    top:-15px;
    cursor:pointer;
}
.Card-1:hover .img-mid,.Card-2:hover .img-mid,.Card-3:hover .img-mid,.Card-4:hover .img-mid,.Card-5:hover .img-mid{
    top:-4px;
    cursor:pointer;
}
.Card-1 span,.Card-2 span,.Card-3 span,.Card-4 span,.Card-5 span{
    position: relative;
    top:110px;
}
.Card-1 h4,.Card-2 h4,.Card-3 h4,.Card-4 h4,.Card-5 h4{
    position: relative;
    top:125px;
    left:0px;
}

.Card-1:hover h4,.Card-2:hover h4,.Card-3:hover h4,.Card-4:hover h4,.Card-5:hover h4{
    color:#F01414;
}
.Message{
    width:100%;
    height:500px;
    position:relative;
    text-align: center;
    background: #f7f7f7;
    top:0px;
    font-size: 18px;
    color: #4D555D;
    letter-spacing: 3px;
    line-height: 36px;
}
.Message div{
    display: inline-block;
}
.Message a{
    text-decoration: none;
    color:rgba(0,140,200,.6);
}
.Message a:hover{
    color:#008CC8;
}
.Message h3{
    text-align: center;
    width:100%;
    height:20px;
}
.Message h3 div{
    display: inline-block;
    width:36px;
    height: 36px;
    position: relative;
    top:12px;
}
.news{
    margin-right:30px;
    position: relative;
    top:60px;
    width:372px;
    height:372px;
    background: #fff;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    border-radius: 10px;
    text-align: center;
}
.news:hover{
    box-shadow: 0px 0px 5px gray;
}
.news label{
    position: absolute;
    top:18px;
    left:20px;
    width:60px;
    height: 24px;
    font-size: 12px;
    color: #FFF;
    line-height: 24px;
    background: rgba(0,180,60,.5);
    border-radius: 12px;
    padding: 0 12px;
    margin-bottom: 8px;
}
.inform{
    margin-right:30px;
    position: relative;
    top:60px;
    width:372px;
    height:372px;
    background: #fff;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    border-radius: 10px;
    text-align: center;
}
.inform:hover{
    box-shadow: 0px 0px 5px gray;
}
.inform label{
    position: absolute;
    top:18px;
    left:20px;
    width:60px;
    height: 24px;
    font-size: 12px;
    color: #FFF;
    line-height: 24px;
    background: rgba(0,180,60,.5);
    border-radius: 12px;
    padding: 0 12px;
    margin-bottom: 8px;
}
.state{
    margin-right:30px;
    position: relative;
    top:60px;
    width:372px;
    height:372px;
    background: #fff;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    border-radius: 10px;
    text-align: center;
}
.state:hover{
    box-shadow: 0px 0px 5px gray;
}
.state label{
    position: absolute;
    top:18px;
    left:20px;
    width:60px;
    height: 24px;
    font-size: 12px;
    color: #FFF;
    line-height: 24px;
    background: rgba(0,180,60,.5);
    border-radius: 12px;
    padding: 0 12px;
    margin-bottom: 8px;
}
footer{
    position: relative;
    top:2px;
    float:bottom;
    background: #fff;
    box-shadow: 0 8px 26px 0 rgba(7,17,27,.1);
    width:100%;
    height: 80px;
    background:rgba(255,255,255,0.6);;
}
footer ul{
    width:100%;
    text-align:center;
}
footer li{
    width:100px;
    height:32px;
    line-height: 32px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
}
footer li a{
    text-decoration: none;
    font-size:16px;
    color:gray;
}
footer li a:hover{
    color:#000000;
}